/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

/* Define a fonte padrão do menu */
.layout-menu {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/* Estiliza os itens do menu */
.layout-menu li {
    padding: 2px 5px;
}

/* Estiliza os ícones dentro do menu */
.layout-menu .pi {
    font-size: 1.4rem;
    margin-right: 8px;
    color: #3c3e3c; /* Cor verde para os ícones */
}

/* Estiliza o label do usuário */
.usuario-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #007bff; /* Azul */
    font-size: 16px;
}


.user-profile-group {
    background-color: var(--primary-color) !important;
    color: rgb(62, 111, 224) !important;
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.user-info-item, .profile-info-item {
    color: rgb(62, 111, 224) !important;
}

.user-info-item .p-menuitem-icon {
    color: var(--yellow-400) !important;
}

.profile-info-item .p-menuitem-icon {
    color: var(--green-400) !important;
}



